:root {
    --digitrole_size_small: 16px;
    --digitrole_size_large: 32px;
    --digitrole_size_medium: 24px;
}

.digitrole {
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}

.digitrole>div {
    display: block;
    width: calc(var(--digitrole_size_small)/2);
    height: var(--digitrole_size_small);
    font-size: var(--digitrole_size_small);
    line-height: calc(var(--digitrole_size_small)+2);
    font-weight: bold;
    text-align: center;
}

.dr_24px>div {
    width: calc(var(--digitrole_size_medium)/2);
    height: var(--digitrole_size_medium);
    font-size: var(--digitrole_size_medium);
}

.digitrole>div>div {
    transition: margin 500ms ease-in-out;
}