:root {
    --digitrole_size_small: 16px;
    --digitrole_size_large: 32px;
    --digitrole_size_medium: 24px;
}

.digitrole {
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}

.digitrole>div {
    display: block;
    width: 8px;
    height: 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.dr_24px>div {
    width: 12px;
    height: 24px;
    font-size: 24px;
}

.digitrole>div>div {
    transition: margin 500ms ease-in-out;
}
