/* ----------------------------------------

.flex_X_YYY_ZZZ

X   flex-direction:

    r = row
    c = column

YYY justify-content:

    jce = center
    jfs = flex-start
    jfe = flex-end
    jsa = space-around
    jsb = space-between

ZZZ align-items:

    ace = center
    afs = flex-start
    afe = flex-end
    ast = stretch

--------------------------------------------*/

.flex_r_jce_ace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_r_jce_afs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex_r_jce_afe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.flex_r_jce_ast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.flex_r_jfs_ace {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex_r_jfs_afs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex_r_jfs_afe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.flex_r_jfs_ast {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.flex_r_jfe_ace {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex_r_jfe_afs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex_r_jfe_afe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex_r_jfe_ast {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.flex_r_jsa_ace {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex_r_jsa_afs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.flex_r_jsa_afe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.flex_r_jsa_ast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.flex_r_jsb_ace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_r_jsb_afs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex_r_jsb_afe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.flex_r_jsb_ast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.flex_c_jce_ace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_c_jce_afs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex_c_jce_afe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.flex_c_jce_ast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.flex_c_jfs_ace {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex_c_jfs_afs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex_c_jfs_afe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.flex_c_jfs_ast {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.flex_c_jfe_ace {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.flex_c_jfe_afs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex_c_jfe_afe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex_c_jfe_ast {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

.flex_c_jsa_ace {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex_c_jsa_afs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.flex_c_jsa_afe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.flex_c_jsa_ast {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.flex_c_jsb_ace {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex_c_jsb_afs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.flex_c_jsb_afe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.flex_c_jsb_ast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/* ---------------------------------------- */
/* flex-grow */

.flex_grow_1 {
    flex-grow: 1;
}

