.menu_box {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    padding-right: 25px;
    position: relative;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
}

.menu_box:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.menu_box_add {
    border: 1px solid lightgray;
    border-radius: 1000px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_box_add img {
    height: 10px;
    width: 10px;
}

.menu_box_info {
    border-radius: 3px;
    color: white;
    padding: 2px;
    font-size: 10px;
}

.basket {
    margin-top: var(--basket_margin_top);
    width: 300px;
    min-width: 300px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.37);
}

.basket img {
    width: 40px;
    height: 40px;
}

.basket_item {
    max-height: 500px;
    display: flex;
    border-bottom: 1px solid lightgray;
    transition: max-height 500ms ease-in-out,
        opacity 125ms ease-in-out,
        padding-top 500ms ease-in-out,
        padding-bottom 500ms ease-in-out;
}

.basket_item button {
    border: unset;
    background-color: #e3e3e3;
    border-radius: 1000px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    transition: background-color 150ms ease-in-out;
}

.basket_item button:hover {
    background-color: lightgray;
}

.basket_item img {
    width: 20px;
    height: 20px;
}

@media (max-width: 700px) {
    :root {
        --responsiv: true;
    }

    .basket {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .menu_box {
        border-radius: 0;
    }

    .menu_box_add {
        border-right: unset;
        border-top: unset;
        border-radius: 0;
        right: 0;
        top: 0;
    }
}